@use "../abstracts/mixins";
@use "../abstracts/variables" as vars;
/*modificaciones en sobre mi*/
/* grid de about */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "parte1 parte1"
    "parte2 parte2"
    "parte3 parte3"
    "parte4 parte5";
  justify-items: center;
  justify-content: center;
  row-gap: 40px;
  @include mixins.respond-to(md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
  }

  @include mixins.respond-to(sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
  }
  @include mixins.respond-to(xs) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

/* areas del grid*/
.about__section--parte1 {
  grid-area: parte1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__section--parte2 {
  grid-area: parte2;
  margin-bottom: 10px;
  padding: 40px;
}

.about__section--parte3 {
  grid-area: parte3;
  display: grid;
  place-items: center;
}

.about__section--parte4 {
  grid-area: parte4;
  margin-bottom: 10px;
}

.about__section--parte5 {
  grid-area: parte5;
}

.about__title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  .about__subt {
    text-align: center;
  }
}

.about__img {
  @include mixins.img-style;
}
