@use "../abstracts/mixins";
@use "../abstracts/variables" as vars;
/*modificaciones en contacto*/
.contact {
  .contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
  }
  margin-top: 70px;
  @include mixins.respond-to(md) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 1rem;
  }

  @include mixins.respond-to(sm) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 1rem;
  }
}

.contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__img {
  height: 400px;
  margin-top: 50px;
  border-radius: 30px;
  @include mixins.respond-to(md) {
    height: 250px;
  }

  @include mixins.respond-to(sm) {
    height: 150px;
  }
}
.contact__form-fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contact__btn {
  margin-top: 20px;
  @include mixins.button-style;
}

%input-base {
  background-color: vars.$project-color;
  border-radius: 10px;
}
.contact__input {
  @extend %input-base;
}

.contact__textarea {
  @extend %input-base;
  padding: 7px;
}
textarea::placeholder {
  color: vars.$secondary-color;
  font-size: 15px;
}

/*fin de modificaciones en contacto*/
