@forward "about";
@forward "contact";
@forward "designs";
@forward "projects";
@use "../abstracts/mixins";
@use "../abstracts/variables" as vars;

.index__container {
  height: 100vh;
  z-index: 1;
  position: relative;
  background-color: vars.$container-bg;
}

.index__image {
  @include mixins.img-style;
}

@include mixins.respond-to(lg) {
  .index__image {
    height: 150px;
  }
}

@include mixins.respond-to(sm) {
  .index__image {
    height: 100px;
  }
}
