@use "../abstracts/mixins";
@use "../abstracts/variables" as vars;

/*Proyectos*/

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "header header header"
    "form survey docs";
  gap: 1rem;
  justify-content: center;
  align-content: center;
  margin-top: 50px;

  @include mixins.respond-to(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "form survey"
      "docs docs";
  }

  @include mixins.respond-to(sm) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "form"
      "survey"
      "docs";
    padding: 0 1rem;
  }
}

.projects__header {
  grid-area: header;
  text-align: center;
}

.projects__item--form {
  grid-area: form;
}
.projects__item--survey {
  grid-area: survey;
}
.projects__item--docs {
  grid-area: docs;
}

.project__img {
  width: 100%;
  max-width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid vars.$project-color;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  @include mixins.respond-to(sm) {
    height: auto;
  }
}

.project__title {
  color: vars.$project-color2;
  height: 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  padding-top: 10px;
  transition: all 0.3s ease-in-out;
}

.project__code {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project__title:hover .project__code {
  opacity: 1;
}

.projects__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__title {
  text-decoration: none;
}

.project {
  text-decoration: none;
  width: 100%;
  max-width: 400px;
  display: block;
  margin: auto;
}
