@use "../abstracts/mixins";
@use "../abstracts/variables" as vars;
/*styles de footer*/

.footer {
  background-color: vars.$primary-color;
  width: 100%;
  padding: 30px 20px;
  color: vars.$secondary-color;
}

.footer__sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;

  @include mixins.respond-to(sm) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.footer__link {
  text-decoration: none;
  color: vars.$secondary-color;
  font-weight: 500;
  position: relative;

  &:hover,
  &:active {
    color: vars.$secondary-color;
  }
}
/*arreglos para el responsive de footer*/
@include mixins.respond-to(sm) {
  .footer__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: vars.$link-color;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
}
.footer__link:hover::before,
.footer__link:active::before {
  width: 100%;
  visibility: visible;
}
/*fin de styles de footer*/
