@use "../abstracts/variables" as vars;

@media (max-width: 1024px) {
  .main {
    content: "";
    background: vars.$main-img no-repeat center;
    background-size: cover;
    width: 100%;
  }
}

.main {
  background: vars.$main-img no-repeat center;
  background-size: cover;
  width: 100%;
  position: relative;
  &::before {
    background-color: vars.$main-color;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  .container {
    height: 100vh;
    z-index: 1;
    position: relative;
  }
}
