@use "../abstracts/mixins";
@use "../abstracts/variables" as vars;

// Estilos para el layout principal (main section)
// Incluye ajustes responsive para mobile y tablet

.main {
  background: url("../images/fondo9.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 30px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .container {
    height: 100vh;
    z-index: 1;
    position: relative;
    background-color: vars.$container-bg;
  }
  @include mixins.respond-to(lg) {
    background-size: cover;
  }

  @include mixins.respond-to(sm) {
    background-size: cover;
    padding: 1rem;
  }
}
