@use "../abstracts/mixins";
@use "../abstracts/variables" as vars;

// Estilos para el layout principal (main section)
// Incluye ajustes responsive para mobile y tablet

.main {
  background: url(vars.$main-img) no-repeat center;
  background-size: cover;
  width: 100%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .container {
    height: 100vh;
    z-index: 1;
    position: relative;
  }
  @include mixins.respond-to(lg) {
    background-position: top;
  }

  @include mixins.respond-to(sm) {
    background-size: contain;
    padding: 1rem;
  }
}
