@use "../abstracts/variables" as vars;

html,
body {
  height: 100%;
  margin: 0;
  font-size: 18px;
}

body {
  color: vars.$project-color2;
  font-family: vars.$font-main;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}
