@use "../abstracts/variables" as vars;

@mixin button-style(
  $bg-color: vars.$primary-color,
  $text-color: vars.$secondary-color
) {
  background-color: $bg-color;
  color: $text-color;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: 1280px) {
      @content;
    }
  }
}
