/*colores*/

$primary-color: rgb(179, 186, 241);
$secondary-color: #0d0c0c;
$link-color: rgba(195, 128, 220, 0.929);
$project-color: rgba(255, 255, 255, 0.6);
$project-color2: white;
$container-bg: rgba(17, 16, 16, 0.525);

/*fonts*/
$font-main: "Special Gothic", sans-serif;

$navbar-radius: 16px;
