// abstracts/_variables.scss
/*colores*/
$primary-color: rgb(179, 186, 241);
$secondary-color: #000;
$footer-color: rgba(195, 128, 220, 0.929);
$project-color: rgba(255, 255, 255, 0.6);
$project-color2: white;

/*fonts*/
$font-main: "Special Gothic", sans-serif;

$navbar-radius: 16px;

$main-img: url("../../images/fondo2.jpg");

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
